@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.button_box {
  @apply bg-yellow-300 flex p-10 gap-5 justify-center items-center h-screen
  dark:bg-amber-900;
}

.button{
  @apply bg-amber-900 text-yellow-300 text-2xl m-5 p-5 rounded-2xl
  dark:bg-yellow-300 dark:text-amber-900;
}